
/* 
*   
*
*
*
*
*/
:root{
    --prime-red: hsl(356, 100%, 66%);
    --prime-light-red: hsl(355, 100%, 74%);
    --prime-dark-blue:  hsl(208, 49%, 24%);
    /**-----------------------------------**/
    --nature-gray-blue:hsl(240, 2%, 79%);
    --nature-gray_low_op-blue:rgba(200, 200, 203, 0.5);
    --nature-very_gray-blue:hsl(207, 13%, 34%);
    --nature--dark_blue: hsl(240, 10%, 16%);
    /**--------------------------------------**/
    --linear-red:linear-gradient(140deg , hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    --linear-blue:linear-gradient(140deg ,hsl(237, 17%, 21%) , hsl(237, 23%, 32%));
}

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

/* Base */

.container{
    width: 100%;
    display: flex;
    flex-direction:column;
/*     background-color: var(--prime-red);/* fallback */
    background:url("../img/bg-pattern-intro-desktop.svg")  left 35% top 35%  no-repeat,var(--linear-red) ;
    
    background-size: 345% , 100%;
    padding: 2.5em 1em;
    color:#fff;
    border-radius: 0  0 0 100px; 
}
/* @media screen  and (min-width:50em){
    .container{
        width: 100%;
        background:url("../img/bg-pattern-intro-desktop.svg")  left 25% top 50%  no-repeat,var(--linear-red) ;

    }
} */
.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.btn{
    width: 8.5em;
    height: 2.7em;
    border-radius:2em;
    background-color: var(--prime-red);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}

/*---- mobile-header ----*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/*-- mobile-navbar-hamburger-btn --*/

.btn__navbar{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 1.5em;
    width: 2.4em;
    align-items: flex-end;
    position: relative;
}
.btn__navbar span{
    margin-bottom: 0.3125rem;
    width:1.875em;
    height: 0.125rem;
    background-color: #fff;
}

/*-- navbar-mobile -- */

nav.header__navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: absolute;
    top: 170%;
    left: 0;
    right: 0;
    margin: auto;
    background-color:#fff;
    color:black;
    color:var(--prime-dark-blue);
    padding: 1.5em;
    border-radius:0.3125rem;
    box-shadow: 0 0 10px gray;
    display: none;
}
li.menu__topic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 0.2em;
}
.menu_topic__category{
    display: flex;
    color: var(--nature-very_gray-blue) ;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    font-weight: 500;
    padding: 1em;
}
.menu_topic__category span img{
    margin:0.1em 0;
}
.header__navbar .navbar__menu{
    width: 100%;
    display:flex;
    flex-direction: column;
    text-align: center;
    color: var(--nature-very_gray-blue);
    font-weight: 700;
    font-size: 1.2em;
}

/*-- dropdown --*/
.dropdown__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 1.5em;
    align-items: center;
    background-color: var(--nature-gray_low_op-blue);
    
    border-radius: 5px;
}
.dropdown__container .dropdown__item{
    padding: 1.5em 8em;
    font-size: 13px;
    font-weight: 500;
}
.dropdown__item a{
    color:var(--nature-very_gray-blue); 
}

/*-- Registration btns --*/
.header__navbar .registration{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 3.5em;
    margin:1em 0 0;
    border-top: 1px solid var(--nature-very_gray-blue);
}
.btn__sign_up{
    background:var(--linear-red);
    margin: 0.5em 2em;
}
.btn__login {
    font-weight:500;
    padding: 1em;
}
.btn__login a{
    color: var(--nature-very_gray-blue);
}
/* End mobile-header */

/*---- Landing section ----*/
.landing__section main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.25em;
    font-family: 'Overpass', sans-serif;
}
.landing__section .hero{
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-basis: 0.1em;
    text-align: center;
    margin-block: 3.5em ;
}
.title__container h1{
    font-weight: 300;
}
.title__container p{
    margin: 1em;
}

.main__btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__btns .main_btn {
    margin: 1.3em  0.6em 1.2em;
}
.main_btn .btn_left{
    background-color:#fff;
    color: var(--prime-red);
}
.main_btn  .btn_left:hover{
    background-color: hsla(0, 0%, 100%, 0.286);
    color:#fff;
}
.main_btn .btn_right{
    background-color: transparent;
    border: 1px solid #fff;
}
.main_btn .btn_right:hover{
    background-color: #fff;
    color:var(--prime-red);
}
/*----  Mobile-Global-Sections ----*/
section{
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    color: var(--prime-dark-blue);
}
article.sec_article{
    font-size:20px ;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.5em;
    margin: 1em 0.5em;
    padding: 1em 0.8em;
    text-align: center;
}
article.sec_article>p{
    font-family: 'Overpass', sans-serif;
}
h2{
    font-family: 'Overpass', sans-serif;
    font-size:1.7em;
    font-weight: 600;
    margin: 1em 0.5em;
    color: var(--prime-dark-blue);
}
h3{
    font-family: 'Overpass', sans-serif;
    font-size: 1.5em;
}

/*--- Section one ---*/

section.sec_one {
    margin: 3em 0.1em 14em;
    padding: 1em 0.1em;
}


.secOne__flex_container{
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.secOne__flex_container>.sec_article>p{
    margin-bottom: 0.6em;
}

.secOne_img>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*--- Section two ---*/

.sec_two{
    background:url(/img/bg-pattern-circles.svg)center bottom 425% no-repeat ,var(--linear-blue) no-repeat    ;
    background-size:150%, 100%;
    border-radius:0 100px;
}
div.secTwo_img{ 
    max-height: 9em;
    max-width: 100%;
}
div.secTwo_img>img{
    max-width: 100%;
    height: auto;
    position: relative;
    top: -11.5em;
}

.sec_two>article.sec_article{
    margin:3em 0 5em; 
    color: #fff;
}
.sec_two>article.sec_article>p{
    font-size: 20px;
}

/*--- Section Three ---*/

.sec_thr{
    margin: 3em 0.1em 2em;
}

.secThr_img>img{
    width: 100%;
    object-fit: cover; 
}

/* Footer */

footer{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nature--dark_blue);
    border-radius:0 100px 0 0;
    margin-top: 5em;
    padding: 2em;
}
div.logo{
    margin: 2em;
    padding: 1em;
}
footer>.foot_flex_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.foot_flex_container ul.foot_flex_ul{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color:#fff; /* as alt */
}
.foot_flex_container ul.foot_flex_ul>li{
    font-weight: 600;
}
.foot_flex_ul ul.foot_itemes_container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.foot_flex_ul ul.foot_itemes_container>li>a{
    color: var(--nature-gray-blue);
}
.foot_flex_ul ul.foot_itemes_container>li>a:hover{
    text-decoration: underline;
}


